*, *:before, *:after {
  box-sizing: border-box;
}

body {
 font-family: -apple-system, BlinkMacSystemFont, UIFontDescriptorSystemDesignDefault, sans-serif;
 margin: 0 auto;
 width: 100%;
 height: 900px;
 display: inline-table;
}

.statusbar {
  width: auto;
  overflow: auto;
}

.container {
 margin: 10px;
 width: auto;
}

ul {
  list-style: none;
  padding: 0px;
}

.list-divider {
  background-color: #1082a0;
  color: #fff;
  font-weight: 500;
}

.list-view-alt {
 margin: auto;
 padding: 0;
}

.list-divider-alt {
  background-color: #808080;
  color: #fff;
  font-weight: 500;
}

h1 {
  font-size: 20px;
  color: #000000;
  padding-left: 20px;
}

/*Route number and name*/
h2 {
  font-size: 18px;
  color: #000;
  font-weight: 400;
  line-height: 1.4em;
}
/*frequency*/
h3 {
  font-size: 16px;
  color: #000;
  font-style: italic;
  font-weight: 400;
}
/*ETAs*/
.due {
  font-size: 18px;
  background-color: #ff6961;
  color: #000;
  font-weight: 600;
  line-height: .6em;
}
.less-than-five {
  font-size: 18px;
  background-color: #ffac81;
  color: #000;
  font-weight: 600;
  line-height: .6em;
}
.less-than-ten {
  font-size: 18px;
  background-color: #fcf4a3;
  color: #000;
  font-weight: 600;
  line-height: .6em;
}
.less-than-fifteen {
  font-size: 18px;
  background-color: #f5e1fd;
  color: #000;
  font-weight: 600;
  line-height: .6em;
}

li {
 background: #fbfbfb;
 border: 1px solid #d6d7d7;
 color: grey;
 padding: 5px 10px 5px 10px;
}

.navbar {
  background-color: #333;
  color: #ffffff;
  overflow: hidden;
  position: fixed;
  bottom: 0;
  padding: 10px;
  width: 100%;
}

.button {
  text-transform: uppercase;
  background: #4CAF50;
  width: 40%;
  padding: 10px;
  color: #FFFFFF;
  font-size: 18px;
  margin: 0 auto;
  display: block;
  text-align: center;
}

i.material-icons {
  text-size: 90%;
  display: inline-table;
  padding: 0px 20px 0px 20px;
}

@media screen and (min-width: 575px){
   div {
    margin: 1%;
    width: 48%;
  }
}
